<div>
  <div class="navbar">
    <div class="navbar-logo"><h1>Courses</h1>

    </div>
    <div class="view">
      <span
      class="material-symbols-outlined"
      (click)="toggleSignupForm()"
      *ngIf="role == 'admin'"
    >
      person_add
    </span>

    <span
      class="material-symbols-outlined"
      (click)="toggleForm()"
      *ngIf="role == 'admin' || role == 'teacher'"
    >
      add_task
    </span>
    <span class="material-symbols-outlined" (click)="signout()"> logout </span>
    <br />
  </div>
</div>
  <div *ngIf="showSignupForm">
    <!-- Insert the signup form HTML code here -->
    
      <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-7 col-xl-5 offset-xl-1">
            <div class="signInWrapper">
              <div class="headingContainer">
                <h1 class="heading">Add Student or Teacher</h1>
              </div>
              <form
                novalidate
                (ngSubmit)="onSignup()"
                [formGroup]="signupForm"
                class="formController"
              >
                <div class="formFieldContainer">
                  <label for="id" class="formFieldHeading">ID</label>
                  <input
                    formControlName="id"
                    class="formField"
                    type="text"
                    placeholder="Enter your ID"
                    id="id"
                    [ngClass]="{
                      'is-invalid':
                        (signupForm.get('id')?.touched ||
                          signupForm.get('id')?.dirty) &&
                        !signupForm.get('id')?.valid
                    }"
                  />
                  <span class="invalid-feedback">
                    <span *ngIf="signupForm.get('id')?.errors?.['required']">
                      Please enter your ID.
                    </span>
                  </span>
                </div>
                <div class="formFieldContainer">
                  <label for="name" class="formFieldHeading">Name</label>
                  <input
                    formControlName="name"
                    class="formField"
                    type="text"
                    placeholder="Enter your name"
                    id="name"
                    [ngClass]="{
                      'is-invalid':
                        (signupForm.get('name')?.touched ||
                          signupForm.get('name')?.dirty) &&
                        !signupForm.get('name')?.valid
                    }"
                  />
                  <span class="invalid-feedback">
                    <span *ngIf="signupForm.get('name')?.errors?.['required']">
                      Please enter your name.
                    </span>
                  </span>
                </div>
                <div class="formFieldContainer">
                  <label for="email" class="formFieldHeading">E-mail</label>
                  <input
                    formControlName="email"
                    class="formField"
                    type="email"
                    placeholder="Enter your email"
                    id="email"
                    [ngClass]="{
                      'is-invalid':
                        (signupForm.get('email')?.touched ||
                          signupForm.get('email')?.dirty) &&
                        !signupForm.get('email')?.valid
                    }"
                  />
                  <span class="invalid-feedback">
                    <span *ngIf="signupForm.get('email')?.errors?.['required']">
                      Please enter your email.
                    </span>
                    <span *ngIf="signupForm.get('email')?.errors?.['email']">
                      Please enter a valid email.
                    </span>
                  </span>
                </div>
                <div class="formFieldContainer">
                  <label for="password" class="formFieldHeading"
                    >Password</label
                  >
                  <input
                    formControlName="password"
                    class="formField"
                    type="password"
                    placeholder="Enter your password"
                    id="password"
                    [ngClass]="{
                      'is-invalid':
                        (signupForm.get('password')?.touched ||
                          signupForm.get('password')?.dirty) &&
                        !signupForm.get('password')?.valid
                    }"
                  />
                  <span class="invalid-feedback">
                    <span
                      *ngIf="signupForm.get('password')?.errors?.['required']"
                    >
                      Please enter your password.
                    </span>
                  </span>
                </div>
                <div class="formFieldContainer">
                  <label for="role" class="formFieldHeading">Role</label>
                  <select
                    formControlName="role"
                    class="formField"
                    id="role"
                    [ngClass]="{
                      'is-invalid':
                        (signupForm.get('role')?.touched ||
                          signupForm.get('role')?.dirty) &&
                        !signupForm.get('role')?.valid
                    }"
                  >
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                  </select>
                  <span class="invalid-feedback">
                    <span *ngIf="signupForm.get('role')?.errors?.['required']">
                      Please select a role.
                    </span>
                  </span>
                </div>
                <div class="signInButtonContainer">
                  <button
                    (click)="dashboard()"
                    type="submit"
                    [ngClass]="{
                      'is-invalid': !signupForm.valid
                    }"
                    class="signInButton"
                  >
                    Sign up
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div *ngIf="showForm" class="form-container">
    <form [formGroup]="courseForm" (ngSubmit)="createCourse()">
      <label for="courseId">Id:</label>
      <input type="number" formControlName="id" id="courseId" />

      <label for="courseName">Name:</label>
      <input type="text" formControlName="name" id="courseName" />

      <label for="courseDescription">Description:</label>
      <input type="text" formControlName="description" id="courseDescription" />

      <label for="courseType">Type:</label>
      <input type="text" formControlName="type" id="courseType" />

      <label for="courseDate">Date:</label>
      <input type="date" formControlName="date" id="courseDate" />

      <label for="courseTime">Time:</label>
      <input type="time" formControlName="time" id="courseTime" />

      <button type="submit" [disabled]="!courseForm.valid">Add Course</button>
    </form>
  </div>

  <div class="back">
    <div class="row-card-course">
      <div *ngFor="let course of courses" class="course-card">
        <div class="thumbnail">
          <div class="course-card-image">
            <a>
              <img
                class="not-img img-res"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2nhQUxum4LDq4s33ccITx7QOc0-xHIh3NlIcMb8wuKVgt0MMGrATJdWVqCs_Cw9lOERk&usqp=CAU"
              />
            </a>
          </div>
          <div class="caption">
            <div class="course-title">
              <h3 class="course-title-heading">
                <h1>{{ course.name }}</h1>
              </h3>
            </div>
            <div class="course-fav-cost row">
              <div class="course-rating-star">
                <strong>Rating</strong>
                <br />
                <div class="course-rating">
                  <span
                    ><span class="course-rate"> ☆</span
                    ><span class="course-rate"> ☆</span
                    ><span class="course-rate"> ☆</span
                    ><span class="course-rate"> ☆</span
                    ><span class="course-rate"> ☆</span></span
                  >
                </div>
              </div>
              <div class="course-fav-price text-right">
                <strong>Price</strong>
                <div class="price-dollar">
                  <h2><b>₹234.50</b></h2>
                </div>
              </div>
            </div>
            <div class="course-card-foot">
              <button class="button" (click)="more_details(course.id, course)">
                Explore class
              </button>
              <span
                class="material-symbols-outlined"
                (click)="deleteCourse(course.id)"
                *ngIf="role == 'admin' || role == 'teacher'"
                >delete</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="courses && courses.length === 0">No courses available.</div>
  </div>
</div>
