 
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #B27092;
}
.navbar {
  background-color: #2E3532;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header{
    width: 100%; /* Ensure the header takes up the full width */
 }
 
 .navbar {
  display: flex;
  justify-content: space-between; /* Aligns items with space between them */
  align-items: center; /* Aligns items vertically in the center */
  width: 100%; /* Ensure the navbar takes up the full width of the header */
  padding: 0 20px; /* Add some padding for spacing */
 }
 
 
 
 .view {
  display: flex;
  gap: 10px; /* Adds some space between the buttons */
 }
 
 /* Optional: Style the buttons */
 .view button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e8e5df;
  color: black;
 }
 
 .view button:hover {
  background-color: #0056b3;
 }
 
 
  
  .material-symbols-outlined {
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;
}

.material-symbols-outlined:hover {
  color: #ff8000;
}

.br {
  margin-bottom: 1rem;
}
.course-rate{
  color:black;
}
 
 
 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
 
/* Form Styles */
.form-container {
  background-color: #e8e5df;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 48;
}
 

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-container button[type="submit"] {
  background-color: #5392d4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.col-md-7 {
  flex: 0 0 auto;
  width: 85.33333333%;
}

/* Course Cards Styles */
.row-card-course {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
}

.course-card {
  background-color: #e8e5df;
  margin: 10px;
  padding: 20px;
  width: calc(33% - 20px);
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0.1, 0.1, 0.1);
  
}

.course-card-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.course-title-heading {
  margin: 0;
  padding: 0;
}

.course-rating {
  color: #f9a825;
}

.price-dollar {
  color: #4CAF50;
  font-weight: bold;
}

.button {
  background-color: #5392d4;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}


 

.heading {
 text-align: center;
 color: #333;
 margin-bottom: 20px;
}

.formFieldContainer {
 margin-bottom: 20px;
}
.col-md-7.col-xl-6 img {
 width: 100%; /* Adjusts the width of the image to 100% of the div */
 height: auto; /* Keeps the aspect ratio of the image */
}
.formFieldHeading {
 display: block;
 margin-bottom: 5px;
 color: #333;
}

.formField {
 width: 100%;
 padding: 10px;
 border: 1px solid #315f8d;
 border-radius: 5px;
 font-size: 16px;
}

.formField:focus {
 border-color: #007bff;
 box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.invalid-feedback {
 display: block;
 margin-top: 5px;
 color: #dc3545;
}

.signInButton {
 background-color: #007bff;
 color: #fff;
 border: none;
 padding: 10px 20px;
 font-size: 16px;
 border-radius: 5px;
 cursor: pointer;
}

.signInButton:hover {
 background-color: #0056b3;
}

.loginWrapper {
 text-align: center;
 margin-top: 20px;
}

.loginHeading {
 color: #6c757d;
 margin-bottom: 10px;
}

.loginLink {
 background-color: #007bff;
 color: #fff;
 border: none;
 padding: 10px 20px;
 font-size: 16px;
 border-radius: 5px;
 cursor: pointer;
}

.loginLink:hover {
 background-color: #0056b3;
}
.vh-100::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
//  background-image: url('https://png.pngtree.com/background/20220721/original/pngtree-real-photos-of-empty-classroom-blue-seats-picture-image_1702197.jpg');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 
 z-index: -1;
}
.vh-100 {
 height: 100vh; /* Ensures the section takes up the full viewport height */
 overflow:hidden; /* Allows for scrolling within the section if content overflows */
}

.container {
 height: 100%; /* Ensures the container takes up the full height of its parent */
 padding: 0px !important;
}

.signInWrapper {
 background-color: #eeece7;
 padding: 20px;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
 height: 95vh;  
}