<form [formGroup]="materialForm" (ngSubmit)="uploadMaterial()">
  <label for="fileName">File name:</label>
  <input type="text" formControlName="fileName" id="fileName">

  <label for="filePath">File:</label>
  <input type="file" (change)="handleFileInput($event)" id="filePath" accept="pdf/*">

  <button type="submit" [disabled]="!materialForm.valid">Upload Material</button>
</form>

<h2>Material List</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>File</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let material of materials">
      <td>{{ material.Id }}</td>
      <td>{{ material.fileName }}</td>
      <td><a [href]="getFileUrl(material.filePath)" target="_blank">{{ material.filePath }}</a></td>
      
    </tr>
  </tbody>
</table>



