

  <div class="signInWrapper">
    <div class="imageWrapper">
        <!-- <img class="image" src="src/assets/img/login.jpg" alt="Login Image" /> -->
    </div>
    <div class="formWrapper">
        <div class="headingContainer">
          <h1 class="heading">Sign in your account</h1>
        </div>
        <form
          novalidate
          (ngSubmit)="onLogin()"
          [formGroup]="loginForm"
          class="formController"
        >
          <div class="formFieldContainer">
            <label for="username" class="formFieldHeading">Username</label>
            <input
              formControlName="Name"
              class="formField"
              type="text"
              placeholder="Enter your username"
              id="username"
              [ngClass]="{
                'is-invalid':
                  (loginForm.get('Name')?.touched ||
                  loginForm.get('Name')?.dirty) &&
                  !loginForm.get('Name')?.valid
              }"
            />
            <span class="invalid-feedback">
              <span *ngIf="loginForm.get('Name')?.errors?.['required']">
                Please enter your username.
              </span>
            </span>
          </div>
          <div class="formFieldContainer">
            <label for="password" class="formFieldHeading">Password</label>
            <input
              formControlName="password"
              class="formField"
              type="password"
              placeholder="Enter your password"
              id="password"
              [ngClass]="{
                'is-invalid':
                  ((loginForm.get('password')?.touched ||
                    loginForm.get('password')?.dirty) &&
                    !loginForm.get('password')?.valid)
              }"
            />
            <span class="invalid-feedback">
              <span *ngIf="loginForm.get('password')?.errors?.['required']">
                Please enter password
              </span>
            </span>
          </div>
          <div class="formFieldContainer">
            <label for="role" class="formFieldHeading">Role</label>
            <input
               formControlName="Role"
               class="formField"
               type="text"
               placeholder="Enter your role"
               id="role"
               [ngClass]="{
                 'is-invalid':
                   ((loginForm.get('Role')?.touched ||
                     loginForm.get('Role')?.dirty) &&
                     !loginForm.get('Role')?.valid)
               }"
            />
            <span class="invalid-feedback">
               <span *ngIf="loginForm.get('Role')?.errors?.['required']">
                 Please enter your role.
               </span>
            </span>
           </div>
           
          <div class="signInButtonContainer">
            <button
              type="submit"
              [ngClass]="{
                'is-invalid': !loginForm.valid
              }"
              class="signInButton"
            >
              Sign in
            </button>
          </div>
        </form>
        <div class="loginWrapper">
          <div class="loginHeading">- OR -</div>
          <div class="loginContainer">
            <p class="loginText">New User?</p>
            <button (click)="Signup()" class="loginLink">Sign Up</button>
          </div>
        </div>
    </div>
    </div>
    