/* General form styling */
.signInWrapper {
  background-color:rgba(255,255,255,0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

  
//  .vh-100{
//   background-image: url('https://png.pngtree.com/background/20220721/original/pngtree-real-photos-of-empty-classroom-blue-seats-picture-image_1702197.jpg');
//   background-size: cover; /* Scales the background image to be as large as possible */
//   background-position: center; /* Centers the background image */
//   background-repeat: no-repeat; /* Prevents the background image from repeating */
//   background-blend-mode: multiply; 
// }

.vh-100 {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
 }
 
 .vh-100::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://png.pngtree.com/background/20220721/original/pngtree-real-photos-of-empty-classroom-blue-seats-picture-image_1702197.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  z-index: -1;
 }
 

 
 .heading {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
 }

 
 
 .formFieldContainer {
  margin-bottom: 20px;
 }
 
 .formFieldHeading {
  display: block;
  margin-bottom: 5px;
  color: #333;
 }
 
 .formField {
  width: 100%;
  padding: 10px;
  border: 1px solid #245280;
  border-radius: 5px;
  font-size: 16px;
 }
 
 .formField:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
 }
 
 .invalid-feedback {
  display: block;
  margin-top: 5px;
  color: #dc3545;
 }
 
 .signInButton {
  background-color: #3d8ee5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
 }
 
 .signInButton:hover {
  background-color: #298df8;
 }
 
 .loginWrapper {
  text-align: center;
  margin-top: 20px;
 }
 
 .loginHeading {
  color: #6c757d;
  margin-bottom: 10px;
 }
 
 .loginLink {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
 }
 
 .loginLink:hover {
  background-color: #8492a0;
 }
 
