/* General form styling */
.signInWrapper {
  background-color: #acc9e8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 .heading {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
 }
 .col-lg-7.col-xl-6 img {
  width: 200%; /* Adjusts the width of the image to 100% of the div */
  height: auto; /* Keeps the aspect ratio of the image */
 }
 
 
 .formFieldContainer {
  margin-bottom: 20px;
 }
 
 .formFieldHeading {
  display: block;
  margin-bottom: 5px;
  color: #333;
 }
 
 .formField {
  width: 100%;
  padding: 10px;
  border: 1px solid #245280;
  border-radius: 5px;
  font-size: 16px;
 }
 
 .formField:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
 }
 
 .invalid-feedback {
  display: block;
  margin-top: 5px;
  color: #dc3545;
 }
 
 .signInButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
 }
 
 .signInButton:hover {
  background-color: #0056b3;
 }
 
 .loginWrapper {
  text-align: center;
  margin-top: 20px;
 }
 
 .loginHeading {
  color: #6c757d;
  margin-bottom: 10px;
 }
 
 .loginLink {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
 }
 
 .loginLink:hover {
  background-color: #0056b3;
 }
 
