@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container {
 max-width: 800px;
 margin: auto;
 padding: 20px;
 background-color: #85c9dc;
 border-radius: 10px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 font-family: 'Poppins', sans-serif;
 height: 100%;
 width: auto;
}

.card {
 border-radius: 10px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 background-color: #fefcfc;
 padding: 20px;
 margin-bottom: 20px;
 
}
 .bck{
   background-image: url('https://t4.ftcdn.net/jpg/03/85/96/39/360_F_385963970_7YxwtPAOEnAZ4BPSzaX26EbYJhCpbZpY.jpg');
    position: relative;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-blend-mode: multiply;
   height: auto;
 width: auto;
   // background-image: url('https://media.istockphoto.com/id/1392004330/vector/professional-man-and-woman-text-messaging.jpg?s=612x612&w=0&k=20&c=eXVzZ4CJerjTNvv-J7ek2-PhE4VQBQPOKPoqjT6rQXQ=');
}

.quiz-header {
 text-align: center;
 font-size: 24px;
 font-weight: bold;
 color: #8f3535;
 margin-bottom: 20px;
}
.btn{
   background-color: #007bff;
}
button[type="submit"] {
   background-color: #007bff;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s ease;
   font-size: 16px;  
}
.score, .question-remain, .timer {
 font-size: 18px;
 color: #6c757d;
}

.progress {
 height: 20px;
 background-color: rgb(90, 114, 117);
 border-radius: 10px;
}

.progress-bar {
 transition: width 0.5s ease;
 background-color: #a470c7; 
}

.question {
 font-size: 20px;
 color: #c03c3c;
 margin-top: 20px;
}

.options {
 list-style-type: none;
 padding: 0;
 margin-top: 20px;

 li {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #5485d8;  
    }
 }
}
 

.btn {
 background-color: #774e93;  
 color: #fff;
 border: none;
 padding: 10px 20px;
 border-radius: 5px;
 cursor: pointer;
 transition: background-color 0.3s ease;
 margin-top: 10px;

 &:hover {
    background-color: #a06ec1;  
 }

 &:disabled {
    background-color: #568EA3;  
    cursor: not-allowed;
 }
}

.result {
 font-size: 18px;
 color: #333;
 text-align: center;
 margin-top: 20px;
}

.result p {
 margin-bottom: 10px;
}

