<h2>Course List</h2>

<table>
 <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
 </thead>
 <tbody>
    <tr *ngFor="let course of courses">
      <td>{{ course.id }}</td>
      <td>{{ course.name }}</td> <!-- Adjust the property names as necessary -->
      <td>
        <button (click)="deleteCourse(course.id)">Delete</button>
      </td>
    </tr>
 </tbody>
</table>


<button class="add-course-btn" (click)="toggleForm()">Add Course</button>


  <div *ngIf="showForm" class="form-container">
 <form [FormGroup]="courseForm" (ngSubmit)="createCourse()">
    <label for="courseId">Id:</label>
    <input type="number" formControlName="id" id="courseId">

    <label for="courseName">Name:</label>
    <input type="text" formControlName="name" id="courseName">

    <label for="courseDescription">Description:</label>
    <input type="text" formControlName="description" id="courseDescription">

    <label for="courseType">Type:</label>
    <input type="text" formControlName="type" id="courseType">

    <label for="courseDate">Date:</label>
    <input type="date" formControlName="date" id="courseDate">

    <label for="courseTime">Time:</label>
    <input type="time" formControlName="time" id="courseTime">

    <button type="submit" [disabled]="!courseForm.valid">Add Course</button>
 </form>
</div>

 