<!--  


  <div class="video-container">
    <div class="video-box">
    <div class="local-video" id="local-video"></div>
    <div class="remote-video" id="remote-video"></div>
    </div>
    <span>Enter PeerId: <br>{{peerId}}</span>
     
    <div class="controls">
    <input type="text" placeholder="Peer Id" [(ngModel)]="peerIdShare" />
    <button class="button" (click)="connectWithPeer()">Call Peer</button>
    <button class="button" (click)="screenShare()">Screen share</button>
    <button class="button" (click)="markAttendance()">Mark Attendance</button>
    <button class="button" (click)="hangUp()">Hang Up</button>
    </div>
    </div>
    <div class="whiteboard-container">
      <app-white-board></app-white-board>
    </div>
    <div class="col-md-6">
    -->

 
 
      <div class="video-container">
         <div class="video-box">
           <div class="local-video" id="local-video"></div>
           <div class="remote-video" id="remote-video"></div>
         </div>
         <span>Enter PeerId: <br>{{peerId}}</span>
         <div class="controls">
           <input type="text" placeholder="Peer Id" [(ngModel)]="peerIdShare" />
           <button class="button" (click)="connectWithPeer()">Call Peer</button>
           <button class="button" (click)="screenShare()">Screen share</button>
           <button class="button" (click)="markAttendance()">Mark Attendance</button>
           <button class="button" (click)="hangUp()">Hang Up</button>
         </div>
      </div>
     
      <div class="whiteboard-container">
         <app-white-board></app-white-board>
      </div>
   